@font-face {
    font-family: TTFirsNeue-Regular;
    src: url("/fonts/TTFirsNeue-Regular.ttf");
  }
  @font-face {
      font-family: TTFirsNeue-Bold;
      src: url("/fonts/TTFirsNeue-Bold.ttf");
    }

body {
    font-family: TTFirsNeue-Regular;
}

form {
    height: 100%;
}

li span {
    font-size: 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
	font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-file {
	position: relative;
	display: block;
    margin-bottom: 5px;
    margin-left: 20px;
}
.input-file span {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 20px;
	vertical-align: middle;
	color: #f1f1f1;
	text-align: center;
	border-radius: 4px;
	background-color: #002782;
	line-height: 22px;
	height: 40px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
 
/* Focus */
.input-file input[type=file]:focus + span {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
 
/* Hover/active */
.input-file:hover span {
	background-color: #004be2;
}
.input-file:active span {
	background-color: #002782;
}
 
/* Disabled */
.input-file input[type=file]:disabled + span {
	background-color: #eee;
}

hr {
    width: 100%;
}

.container {
    display: block;
    position: absolute;
}

.column_wrap {
    position: relative;
}

.left {
    width: calc(30% - 10px);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: auto;
    display: block;
    margin: 10px 0 10px 10px;
}

.right {
    border-left: 1px solid gray;
    margin: 10px 10px 10px calc(30% + 10px);
    padding-left: 10px;
}

#images, #classes, #bboxes {
    width: 400px;
    margin-top: 10px;
}

#imageList, #classList, #description {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 15%;
}

#saveBboxes, #restoreBboxes {
    width: 170px;
    height: 40px;
    font-size: 20px;
    background: #002882;
    color: #f1f1f1;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#saveBboxes:hover, #restoreBboxes:hover {
    background-color: #004be2;
}

#saveBboxes:active, #restoreBboxes:active {
	background-color: #002782;
}

#imageSearch {
    width: 100%;
    margin-left: 20px;
    height: 20px;
}

#imageInformation, #bboxInformation {
    height: 20px;
    width: 100%;
}

#voc {
    margin-top: 10px;
}

#vocFolder {
    margin-left: 20px;
    height: 20px;
}

#saveVocBboxes, #saveCocoBboxes {
    margin-top: 0;
    margin-bottom: 0;
}
